extends ../layout

block content
    form
        label(for='name') Name:
        br
        input#name(type='text' name='name')
        br
        label(for='isbn') Isbn:
        br
        input#isbn(type='text' name='isbn')
        br
        label(for='edition') Edition:
        br
        input#edition(type='text' name='edition')
        br
        label(for='author') Choose a Author:
        br
        select#author(name='author')
            each author in authors
                option(value=author.id)= author.name
        br
        label(for='publisher') Choose a Publisher:
        br
        select#publisher(name='publisher')
            each publisher in publishers
                option(value=publisher.id)= publisher.name
        br
        button(type='submit') Create