extends views/layout

form
    label(for='name') Name:
    br
    input#name(type='text' name='name')
    br
    label(for='isbn') Isbn:
    br
    input#isbn(type='text' name='isbn')
    br
    label(for='edition') Edition:
    br
    input#edition(type='text' name='edition')
    br
    label(for='author') Author:
    br
    input#author(type='text' name='author')
    br
    label(for='publishers') Publishers:
    br
    input#publishers(type='text' name='publishers')
