nav {
  margin-bottom: 50px;
}
a {
  color: #00B7FF;
}

.table-options {
  text-align: center;
  width: 200px;
}

.table-options > a {
  margin: 0 5px;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


.table-options > button  {
  margin: 0 5px;
}
